<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2018-04-20-hello.md</key>
			<dict>
				<key>lastModification</key>
				<real>547519927.91164005</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-01-peopleProduceALotPlanALot.md</key>
			<dict>
				<key>lastModification</key>
				<real>547519927.91164303</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-04-factoryGril.md</key>
			<dict>
				<key>lastModification</key>
				<real>547519927.91164196</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-09-BeginCalendar.md</key>
			<dict>
				<key>lastModification</key>
				<real>547519993.77005899</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2018-05-09-calendar.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>547519936.20521998</real>
				<key>lastModification</key>
				<real>547519936.20521998</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2018-05-10-GrammarTip.md</key>
			<dict>
				<key>lastModification</key>
				<real>547624995.61164403</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>547605044.87628806</real>
				<key>lastModification</key>
				<real>547605044.87628806</real>
				<key>version</key>
				<dict>
					<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>547519923.60184801</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>2018-05-10-GrammarTip.md</string>
		</array>
		<array>
			<string>2018-05-09-BeginCalendar.md</string>
		</array>
		<array>
			<string>2018-04-20-hello.md</string>
		</array>
		<array>
			<string>2018-05-09-calendar.md</string>
		</array>
		<array>
			<string>2018-05-04-factoryGril.md</string>
		</array>
		<array>
			<string>2018-05-01-peopleProduceALotPlanALot.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
			<integer>14</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>d3b5233176f211b18824cebc9716d53f79cadb9d9249fd4898112a72ff3c7a6a</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
